body{
background-color: black;
}
/*.cursos{

}*/
.titulo{
color: aliceblue;
text-align: center;
}
.c1{
background-color: rgb(75, 70, 70);
color: rgb(215, 215, 236);
width: 300px;
height: 500px;
margin-left: 10px;
border-radius: 20px; 
text-align: center;
}
.c2{
background-color: rgb(75, 70, 70);
color: rgb(215, 215, 236);
width: 300px;
height: 500px;
margin-left: 600px;
margin-top: 5px;

}