body{
background-color: black;
}
.titulo{
color: aliceblue;
}
.cs{
display: flex;
flex-direction: row;
}
.c1{
background-color: rgb(43, 46, 48);
height: 300px;
width: 200px;
text-align: center;
color: aliceblue;
border-radius: 15px;
}
.c2{
background-color: rgb(43, 46, 48);
height: 300px;
width: 200px;
text-align: center;
color: aliceblue;
border-radius: 15px;

}